/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #FFFFFF;
  font-size: 1em;
  line-height: 1.4;
  background-color: #CDDFF4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* home styles */

/* hero section styles */
section{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
/* header styles */
header{
  text-align: right;
  position: relative;
  left: 350%;
}

header h1{
  color: white;
  display: inline-flex;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  font-size: 100px;
  height: 100%;
}

/* banner styles */

.jeremy_herobg{
  position: relative;
}

.jeremy_herobg img{
  width: auto;
  height: 88%;
}

/* Begin nav styles */
nav{
  color: #738EAD;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  position: relative;
  margin-right: 50px;
  width: 50%;
  top: 0;
  left: 0;
}

nav ul{
 display: block;
 flex-direction: row;
 justify-content: flex-end;
 align-items: flex-end;
 list-style: none;
 padding: 0;
}

nav ul li{
  margin: 35px 15px 0 15px;
  font-size: 24px;
}

nav ul li a{
  color: #738EAD;
  text-decoration: none;
}

nav ul li a:hover{
  color: #FDFF9B;
}

/* music section styles */

.music{
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* button styles */
button{
  color: white;
  background-color: #CDDFF4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  border-radius: 36px;
  border-color: white;
  border-style: solid;
  padding: 1%;
  font-size: 24px;
  text-decoration: none;
}

button:hover{
  color: #738EAD;
  background-color: white;
}

button a{
  color: white;
  text-decoration: none;
}

button a:hover{
  color: #CDDFF4;
  text-decoration: none;
}

/* album styles */

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

ul li{
  margin: 1% 1% 1% 1%;
}

ul li img{
  width: 100%;
  height: auto;
}

.album_covers .album_4{
  display: none;
}

ul li img:hover{
  position: relative;
  top: -5px;
}

/* music video styles */

.music_video{
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

/* social styles */

.social_icons img{
  width: 31px;
  height: 31px;
  align-items: center;
}

/* home title styles */

 h2{
  color: #738EAD;
  opacity: 30%;
  font-size: 130px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
}

/* footer styles */

footer{
  background: #FDFF9B;
  color: #738EAD;
  padding: 1%;
  text-align: center;
  font-size: 30px;
}

/* about page */

/* header styles */

.about{
    align-items: center;
}

.about h1{
  color: white;
  display: flex;
  font-size: 130px;
  height: 190px;
  width: 974px;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.content{
  width: 100%;
  height: 100%;
}

.content main p{
  font-size: 29px;
  color: #000;
  height: auto;
  width: 50%;
  padding-top: 10%;
  padding-left: 10%;
}

.about_images{
  position: relative;
  padding-top: 10%;
  padding-right: 5%;
}

.about_images .duo{
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.about_images .solo{
  width: 100%;
  height: auto;
}

/* tour styles */

/* image styles */

.tour_header{
  margin-top: 50px;
  background-image: url('../img/JZTourHeader2020_V2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 780px;
}

/* dates styles */

.tour .dates{
  width: 50%;
}

.tour .dates ul{
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: 40%;
  margin-top: 10%;
  margin-bottom: 15%;
  line-height: 150px;
}

.tour .dates li{
  list-style: none;
  color: #738EAD;
  font-size: 45px;
}

/* places styles */

.tour .places{
  width: 50%;
}

.tour .places ul{
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 10%;
  margin-bottom: 15%;
  line-height: 148px;
}

.tour .places li{
  list-style: none;
  color: #000;
  font-size: 55px;
}

/* Off Canvas Menu - You will style to match your design */

.hamburger{
  font-size:30px;
  cursor:pointer;
  color: #738EAD;
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FDFF9B;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 75px 8px;
  text-decoration: none;
  font-size: 30px;
  color: #738EAD;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.sidenav .nav_social_icons{
  margin-left: -2px;
  margin-right: -2px;
}

.sidenav .nav_social_icons img{
  height: 25px;
  width: 25px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  /* Media Queries - Tablet */

  @media only screen and (max-width: 768px) {

    /* home styles */

    header {
      left: 3%;
  }

    header h1{
      font-size: 55px;
      height: 403px;
    }

    /* banner styles */

    .jeremy_herobg img{
      width: auto;
      height: 90%;
    }

    /* Begin nav styles */

    nav ul li{
      font-size: 12px;
    }

    /* music section styles */

    /* button styles */
    button{
      margin-top: 5%;
      margin-bottom: 5%;
      border-radius: 36px;
      padding: 1.5%;
      font-size: 18px;
      text-decoration: none;
    }

    /* album styles */

    ul.album_covers{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    ul.album_covers ul li img{
      width: 25%;
      height: auto;
    }

    ul li{
      margin: 1% 2% 1% 2%;
    }

    ul li img{
      width: 100%;
      height: auto;
    }

    .album_covers .album_4{
      display: inline;
    }

    /* music video styles */

    .music_video{
        width: 100%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 7%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .music_video iframe{
      width: auto;
      height: auto;
    }

    /* social styles */

    .social_icons img{
      width: 10px;
      height: 10px;
      margin: 0 -70px 0 0px;
    }

    /* home title styles */

     h2{
      font-size: 75px;
      height: 25px;
    }

    /* footer styles */

    footer{
      padding: 8px;
      font-size: 14px;
    }

    /* about page */

    /* header styles */

    .about h1{
      font-size: 55px;
      height: 73px;
      width: 403px;
      margin-left: 50px;
    }

    .content main p{
      font-size: 15px;
      height: 644px;
      width: 301px;
      padding-top: 65px;
      padding-left: 70px;
      padding-right: 20px;
    }

    .about_images{
      margin: 15px 15px 15px 15px;
      padding-top: 65px;
    }

    .about_images .duo{
      width: 317px;
      height: 214.85px;
      padding-bottom: 33px;
    }

    .about_images .solo{
      width: 317px;
      height: 396.39px;
      padding-bottom: 160px;
    }

/* tour styles */

    .tour_header{
      height: 401px;
    }


    /* dates styles */

    .tour .dates ul{
      padding: 151;
      margin-left: 169px;
      margin-top: 50px;
      margin-bottom: 80px;
      line-height: 56px
    }

    .tour .dates li{
      font-size: 20px;
    }

    /* places styles */

    .tour .places ul{
      margin-left: 43px;
      margin-top: 50px;
      margin-bottom: 80px;
      line-height: 48px;
    }

    .tour .places li{
      font-size: 24px;
    }
}

/* Media Queries - Small Tablet down to Iphone */
@media only screen and (max-width: 500px) {

  /* home styles */

  header h1{
    font-size: 30px;
    height: 205px;
    margin-left: 10px;
  }

  /* banner styles */

  .jeremy_herobg img {
    width: 200px;
    height: 220px;
}
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Begin nav styles */

  nav ul{
    display: none;
  }

  .hamburger {
    display: inline;
    position: relative;
    right: 14px;
    top: -5px;
}

span#hamburger_home {
  position: relative;
  top: 10px;
  right: -16px;
}
  /* music section styles */

  /* button styles */
  button {
    margin: 0 auto;
    border-radius: 36px;
    padding: 10px;
    font-size: 12px;
    position: relative;
    top: 0px;
}

  /* album styles */

  ul li {
    margin: 1px 1px 0 1px;
}

  ul li img{
    width: 155px;
    height: 155px;
  }

 .music{
   display: flex;
   flex-direction: column;
 }

  .album_covers .album_2, .album_3{
    display: none;
  }

  .album_covers .album_4{
    display: none;
  }

  /* music video styles */

  .music_video{
    display: none;
  }

  /* social styles */

  .social_icons img{
    display: none;
  }

  /* home title styles */

   h2{
    font-size: 75px;
    height: 25px;
  }

  /* footer styles */

  footer {
    padding: 8px;
    position: absolute;
    bottom: 0px;
    font-size: 7px;
    width: 100vw;
}

h2.home_title {
  position: relative;
  top: -80px;
}

  /* about page */

  /* header styles */

  .about h1 {
    font-size: 40px;
    height: 73px;
    width: 250px;
    margin-left: 50px;
    justify-content: end;
    position: relative;
    right: 34px;
}

.content main p {
  font-size: 8px;
  height: 187px;
  width: 265px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.about_images {
  margin: 5px 5px 5px 5px;
  padding-top: 10px;
  position: relative;
  display: inline-flex;
  left: 22px;
}

h2#aboutheader {
  position: relative;
  top: -80px;
}

h2.home_title {
  position: relative;
  top: -130px;
}


  .about_images .duo {
    width: 45%;
    height: 98px;
    padding-bottom: 10px;
    padding-right: 7px;
  }

  .about_images .solo{
    width: 113px;
    height: 142px;
    padding-bottom: 10px;
    padding-left: 7px;
  }

  /* tour styles */

  .tour_header {
    height: 169px;
    position: relative;
    top: -70px;
}

section.tour {
  position: relative;
  top: -100px;
  left: -25px;
}

h2.tour_title {
  position: relative;
  top: -270px;
}


  /* dates styles */

  .tour .dates ul{
    padding: 151;
    margin-left: 100px;
    margin-top: 45px;
    margin-bottom: 60px;
    line-height: 20px;
  }

  .tour .dates li{
    font-size: 9px;
    padding-bottom: 27px;
  }

  /* places styles */

  .tour .places ul{
    margin-left: 33px;
    margin-top: 45px;
    margin-bottom: 60px;
    line-height: 20px;
  }

  .tour .places li{
    font-size: 14px;
    padding-bottom: 27px;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
